################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cars.uwp/bin/x86/Debug
/Cars.uwp/obj
/Cars.uwp/project.lock.json
/Cars.uwp/bin/ARM/Debug
